.document-reader {
  &__footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-inline: 30px;
  }

  &__timeline {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 30px;
    background-color: whitesmoke;
  }
}
