@use "../../styles/abstracts" as a;

.document-reader {
  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 480px) {
      display: none;
    }
  }

  &__footer-content {
    padding: 1rem 30px;
    background-color: a.$white;

    &--expanded {
      margin-left: 300px;
    }
  }

  &__timeline {
    height: 4px;
    background-color: lightblue;
    border-radius: 3px;
  }

  &__timeline-progress {
    height: 4px;
    background-color: a.$isfBlue;
    border-radius: 3px;
  }

  &__timeline-item {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: a.$isfBlue;
  }
}
