@use "../../styles/abstracts" as a;

.document-reader {
  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 480px) {
      display: none;
    }
  }

  &__timeline {
    padding: 1rem 30px;
    background-color: a.$isfBlue;

    &--expanded {
      margin-left: 300px;
    }
  }
}
