@use "../../styles/abstracts" as a;

.document-reader {
  &__header {
    position: sticky;
    top: 0;
    min-height: a.$headerHeight;
    display: flex;
    justify-content: space-between;
    background-color: a.$red;
    padding-right: 2rem;
    z-index: 1;
  }

  &__header-group {
    display: flex;
    gap: 3rem;
  }

  &__header-button {
    @include a.font(a.$fontRoboto, 700, normal, sans-serif);
    font-size: 1rem;
    cursor: pointer;
    color: a.$white;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;

    &--sidebar {
      width: 100%;
      max-width: a.$sidebarWidth;
      gap: 0.5rem;
      padding-left: 1.5rem;
    }

    &--expanded {
      background-color: a.$lightblue;
      color: a.$darkblue;
    }
  }
}
