@use "../../styles/abstracts" as a;

.document-reader {
  &__header {
    position: sticky;
    top: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: a.$white;
    z-index: 1000; // Ensure it stays above other content
    transition: box-shadow 0.3s ease;

    &--sticky {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  &__header-group {
    display: flex;
    gap: 30px;
  }

  &__header-button {
    @include a.font(a.$fontRoboto, 700, normal, sans-serif);
    padding: 10px 20px;
    font-size: 16px;
    background-color: a.$isf-blue;
    cursor: pointer;
    color: white;
    border-radius: 3px;
  }
}
