// COLORS
$red: #800327;
$lightblue: #d9e6ed;
$blue: #587b90;
$darkblue: #3a5568;
$white: #ffffff;
$black: #000000;
$lightgray: #f5f5f5;

// TYPOGRAPHY
$fontRoboto: "Roboto";

// LAYOUT
$headerHeight: 56px;
$sidebarWidth: 300px;
$contentWidth: 750px;
$docReaderWidth: 1200px;
