@use "../../styles/abstracts" as a;

.document-reader {
  &__content {
    max-width: a.$contentWidth;
    margin: 64px auto;
    background-color: a.$lightgray;

    h1,
    h2,
    h3,
    h4 {
      scroll-margin-top: a.$headerHeight;
    }
  }
}
