.document-reader {
  &__sidebar {
    display: none;
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 300px;
    background-color: #f4f4f4;
    overflow-y: auto;
    padding: 80px 30px 30px;
    max-height: calc(100vh - 30px);

    &--expanded {
      display: block;
    }
  }
}
