@use "../../styles/abstracts" as a;

.document-reader {
  &__sidebar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: a.$sidebarWidth;
    background-color: a.$lightblue;
    padding: 1rem;
    z-index: 2;

    &--expanded {
      display: block;
    }
  }
}
